body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center; 
    color: white;
}

.clear {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
}

.quarters {
    display: flex;
    justify-content: center;
}

.quarter-txt {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center; 
}

#home-score, #away-score {
    border: 1px solid black;
    margin: 0px 0px 20px 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
    font-size: 100px;
    font-family: 'Space Mono', monospace;
    background-color: black;
    color: #F94F6D;
}

#home-txt, #away-txt {
    margin-bottom: 15px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#home-plus-one, #home-plus-two, #home-plus-three, #away-plus-one, #away-plus-two, #away-plus-three {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    color: #9AABD8;
    background-color: #1B244A;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    padding: 8px 8px;
}

#clear-btn {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    color: #9AABD8;
    background-color: #1B244A;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    padding: 8px 10px;
}

#first-btn, #second-btn, #third-btn, #fourth-btn, #overtime-btn {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    color: #9AABD8;
    background-color: #1B244A;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    padding: 8px 10px;
    margin: 0px 10px;
}